* {
 box-sizing: border-box;
}

body{
    margin:0;
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stopwatch {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .counter {
    margin-right: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  
  .control-panel {
    margin-top: 10px;
  }

  .start,
  .stop,
  .reset {
    margin-right: 10px;
    font-size: 50px;
  }
  
  .list {
    margin-top: 10px;
  }

  .row{
    font-size: 50px;
  }









